<li class="nav-item"><a
	class="nav-link {% if module == 'AdminIndex' %}active" href="#"
	{% else %}" href="/app/?module=AdminIndex" {% endif %}> <i
		class="fas fa-tachometer-alt"></i> Dashboard
</a></li>
