<a href="#"
	class="list-group-item list-group-item-action list-group-item-danger flex-column align-items-start">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">
			{{ lng('panel.warning') }}
		</h5>
	</div>
	<p class="mb-1">
		{{ warning|raw }}
	</p>
</a>
